{% extends "base.html" %}

{% block content %}

        <h1 class="post-header">New Post</h1>

        <form method='post'>
          <label for="title">Name of Blog: </label><br><br>
          <input type="text" name="title" value='{{blog_title}}'>
          <p class="error">{{title_error}}</p><br><br>
          <label for="body">Blog Content: </label><br><br>
          <textarea type="text" name="body" rows="5" columns="50"></textarea>
          <p class="error">{{body_error}}</p><br>

          <input type="submit" value="Post!">

        </form>

{% endblock %}